/eclipse-inst-jre-win64.exe
/Git-2.46.2-64-bit.exe
/java лр 1
/jdk-22_windows-x64_bin.exe
/lab2.odt
/lab3.odt
/lab4.odt
/openjdk-22.0.1_windows-x64_bin
/openjdk-22.0.1_windows-x64_bin.zip
/~$лаб1.odt
/Введение в Java.pdf
/лаб1.odt